@media (min-width: 981px) and (max-width: 1800px) {
 

	#sidebar,
	#left-area {
		width: 100% !important;
	}

/* With Sidebar */

	.et_full_width_page.woocommerce-page ul.products li.product:nth-child(4n+1),
	.et_full_width_page .et_gallery_item:nth-child(4n+1) {
		clear: none;
	}

/* WooCommerce */
	.woocommerce .cart-collaterals > div,
	.woocommerce .cart-collaterals > form {
		float: none !important;
		width: 100% !important;
	}

	.shop_table .coupon {
		margin-bottom: 25px !important;
	}

	.checkout .form-row,
	.checkout .col-1,
	.checkout .col-2 {
		float: none !important;
		width: auto !important;
	}

	.checkout .col-1,
	.checkout .col-2 {
		margin-bottom: 25px !important;
	}

/* Grid Layouts: Gallery, Portfolio, Filterable Portfolio, Shop */
	.et_pb_column .et_pb_shop_grid .woocommerce ul.products li.product:nth-child(n),
	.et_pb_column .woocommerce ul.products li.product:nth-child(n),
	.woocommerce-page ul.products li.product:nth-child(n) {
		float: left;
		clear: none;
		width: 28.333% !important;
		margin: 0 7.5% 7.5% 0 !important;
	}

	.et_pb_gutters1 .et_pb_shop_grid .woocommerce ul.products li.product:nth-child(n),
	.et_pb_gutters1 .woocommerce ul.products li.product:nth-child(n) {
		width: 33.333% !important;
		margin: 0 !important;
	}


	.et_pb_column .et_pb_shop_grid .woocommerce ul.products li.product:nth-child(3n),
	.et_pb_column .woocommerce ul.products li.product:nth-child(3n),
	.woocommerce-page ul.products li.product:nth-child(3n) {
		margin-right: 0 !important;
	}


	.et_pb_column .et_pb_shop_grid .woocommerce ul.products li.product:nth-child(3n+1),
	.et_pb_column .woocommerce ul.products li.product:nth-child(3n+1),
	.woocommerce-page ul.products li.product:nth-child(3n+1) {
		clear: both;
	}




}